h2.section-title { font-size: 19px!important; font-weight: 400!important; text-align: center; margin: 40px auto }
h2.section-title:before { content: ''; display: block; height: 1px; width: 100%; background: #ccc; -webkit-transform: scaleY(0.5); -webkit-transform-origin: 0 0; margin-bottom: 16px }
h2.section-title:after { content: ''; display: block; height: 1px; width: 100%; background: #ccc; -webkit-transform: scaleY(0.5); -webkit-transform-origin: 0 0; margin-top: 16px }
@media (-webkit-min-device-pixel-ratio:3) {
h2.section-title:before { -webkit-transform: scaleY(0.33) }
h2.section-title:after { -webkit-transform: scaleY(0.33) }
}
.item-title { margin: 20px 0; line-height: 28px; margin-bottom: 14px; overflow: hidden }
.ititle-serial { width: 24px; height: 24px; background: #f96e57; font-size: 14px; line-height: 24px; text-align: center; border-radius: 13px; display: inline-block; font-weight: 700; color: #fff; margin-right: 7px; margin-top: 3px; position: absolute }
.ititle { font-size: 18px; font-weight: 700; line-height: 28px; display: inline-block; padding-top: 1px; margin-left: 30px }
.item-info { height: 43px; display: block; margin-bottom: 40px; clear: both; width: 100%; position: relative }
.item-info:before { content: ''; display: block; background: #d8d8d8; width: 4px; height: 90%; position: absolute; top: 5% }
.item-info .item-info-price { display: block; color: #f83a7a; margin-right: 20px; line-height: 1.3; font-size: 18px; padding-left: 11px; float: none; height: auto; font-weight: 400 }
.item-info .item-like-info { display: block; color: #8e8e93; margin-right: 20px; line-height: 1.5; font-size: 14px; padding-left: 11px }
.item-info .item-info-link { display: table; width: 100px; text-align: center; font-size: 16px; border: solid thin #ff897d; margin-top: -40px; float: right; height: 32px; line-height: 32px; border-radius: 32px }
.item-info .item-info-link span { display: table-cell; vertical-align: middle; color: #f7554d; font-size: 15px }
.video-container { position: relative; width: 100%; height: 217.5px; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 10px; margin-bottom: 20px }
.video-container * { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box }
.tvp-video { width: 100%; height: 100% }
.tvp-video video { display: block; width: 100%; height: 100%; overflow: hidden; color: #000; background: #000 }
.tvp-cover { position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; text-align: center; background-color: #000; display: -webkit-box; -webkit-box-pack: center; -webkit-box-align: center; box-pack: center; box-align: center; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center }
.tvp-cover .tvp-cover-img { display: inline-block!important; width: 100%!important; height: auto!important; max-width: 100%!important; max-height: 100%!important; margin: 0!important }
.tvp-play { position: absolute; z-index: 5; left: 0; right: 0; top: 0; bottom: 10px; width: 76px; height: 50px; line-height: 50px; margin: auto; overflow: hidden; font-size: 0; text-align: center; background: rgba(23,23,23,.9); border-radius: 3px }
.tvp-play .tvp-button-play { position: absolute; display: block; width: 0; height: 0; left: 30px; top: 14px; margin: auto; overflow: hidden; vertical-align: middle; border: 20px solid transparent; border-width: 12px 21px; border-left-color: #fff }
.tvp-layer-replay { display: none; position: absolute; z-index: 5; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.6); border-radius: 2px }
.tvp-layer-replay .tvp-overlay-replay { position: absolute; z-index: 5; left: 0; right: 0; top: 0; bottom: 10px; width: 110px; height: 50px; line-height: 50px; margin: auto; overflow: hidden; font-size: 0; text-align: center; background: rgba(23,23,23,.9); border-radius: 3px }
.tvp-layer-replay .tvp-overlay-replay .tvp-text { display: inline-block; line-height: 50px; vertical-align: top; font-size: 16px; color: #FFF; font-weight: 700; padding: 0 20px }



.post .content {margin: 20px 3% 60px 3%}
.post .content img{width: 100%;}

.night { background: #343434; color: #999 }
.night h1, .night h2, .night h3 { color: #B8B8B8 }
.night img { -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,.7)), to(rgba(0,0,0,.7))) }
.night .item-info-price { color: #999 }
.theme-lanting { font-family: FZLanTingHei-EL-GBK; font-size: 1.6rem }
.theme-lanting h1, .theme-lanting h2 { font-size: 1.8rem; font-weight: 600 }
.theme-lanting h3, .theme-lanting h4, .theme-lanting h5, .theme-lanting h6 { font-size: 1.6rem; font-weight: 600 }
.gift_picurl{display:block;width:100%;overflow:hidden;}
.gift_picurl img{margin-top:0;}
.post{margin-top:30px;}


.gift_scroll_in {
-moz-transform:scale(1.1,1.1);
-webkit-transform:scale(1.1,1.1);
-o-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);


-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}


.gift_scroll_out {
-moz-transform:scale(1,1);
-webkit-transform:scale(1,1);
-o-transform:scale(1,1);
  transform:scale(1,1);
  
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
